.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App img{
  display:inline-block;
  transform:translatex(91px) translatey(-8px);
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  width:240px;
  min-height:186px;
  position:relative;
 }
/* Th */
#root .App #content-wrapper #content .container-fluid .card .card-body .table #dataTable thead tr th{
  width:300px !important;
 }
 
 /* Th */
 #dataTable tr th{
  text-align:center;
 }
 
 /* Table Data */
 #dataTable tfoot td{
  text-align:center;
 }
 

 
 /* Button */
#dataTable tr a.btn-primary{
  position:static;
  transform:translatex(-5px) translatey(19px);
 }
 
 /* Table Data */
 #dataTable tbody td{
  text-transform:capitalize;
  text-align:center;
 }
 
 