.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App img{
  display:inline-block;
  transform:translatex(91px) translatey(-8px);
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  width:240px;
  min-height:186px;
  position:relative;
 }
/* Th */
#root .App #content-wrapper #content .container-fluid .card .card-body .table #dataTable thead tr th{
  width:300px !important;
 }
 
 /* Th */
 #dataTable tr th{
  text-align:center;
 }
 
 /* Table Data */
 #dataTable tfoot td{
  text-align:center;
 }
 


 
 /* Table Data */
 #dataTable tbody td{
  text-transform:capitalize;
  text-align:center;
 }
 
 /* Image */
.App img{
  transform:translatex(13px) translatey(-8px);
 }
 
 /* Font Icon */
 .App .d-inline .fa-angle-up{
  width:39px;
  min-height:36px;
  transform:translatex(0px) translatey(12px);
 }
 
 /* Inline */
 #root .App .d-inline{
  display:inline-block !important;
  height:44px;
  transform:translatex(652px) translatey(-37px);
 }
 /* Inline */
#root .App .d-inline{
  transform:translatex(647px) translatey(19px);
 }
 
 /* Span Tag */
 .App .copyright span{
  display:inline-block;
  height:29px;
  transform:translatex(0px) translatey(61px);
 }
 
/* Button */
#content .row .btn-primary{
  height:45px;
  position:relative;
  left:0px;
  top:2px;
 }
 
 
  
 /* Division */
.col-lg-4 .card div{
  min-height:121px;
  transform:translatex(0px) translatey(0px);
 }
 
 /* Button */
 .col-lg-4 div button{
  transform:translatex(0px) translatey(50px);
 }
 
 /* Input */
 .App div input[type=file]{
  transform:translatex(0px) translatey(30px);
 }
 
 /* Span Tag */
 .App .copyright span{
  transform:translatex(3px) translatey(0px);
 }
 
 /* Profile */
#profile{
  width:40% !important;
  transform:translatex(251px) translatey(11px);
 }
 
 /* Paragraph */
#profile p{
  min-height:34px;
  transform:translatex(20px) translatey(29px);
  width:34%;
 }
 
 /* Form Division */
 #profile form{
  transform:translatex(272px) translatey(-146px);
  min-height:170px;
  width:62%;
 }
 

 
 /* Profile */
 #profile{
  width:848px !important;
  height:223px;
  transform:translatex(-10px) translatey(-9px);
 }
 
 /* Division */
 #profile form div{
  transform:translatex(50px) translatey(9px);
  display:grid;
  width:76%;
 }
 
 /* Input */
 #profile div input[type=text]{
  transform:translatex(31px) translatey(-3px);
  position:relative;
  top:3px;
  left:-1px;
 }
 
 /* Input */
 #profile div input[type=password]{
  transform:translatex(15px) translatey(0px);
 }
 
 /* Label */
 #profile div label{
  margin-bottom:10px;
 }
 
 